.group1 {
    margin-left:65px ;
    border-radius: 100px;
    margin-top: 40px;
}

/*Primera seccion*/
.titulo1{
    background-color: #00324D;
    color: white;
    text-align: center;
    width: 100%;
    margin-bottom: 10%;
    border-radius: 15px;
    font-size:18px;
    font-weight: bold;
}


.div1{
    background-color: #D9D9D9;
    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;
    height: 81vh;
    width: 17%;
    overflow-y: scroll;
}

/*Segunda seccion*/
.div2{
    background-color: #B5C4CB;
    justify-content: center;
    height: 81vh;
    width: 17%;
}

.div2 img{
    margin-bottom: 5px;
}

.imgGeneral {
    margin-top: 6vh;
}

li a:hover img {
    transform: scale(1.0); 
    filter: brightness(0.9);
}

li a:focus img {
    transform: scale(1.1); 
    filter: brightness(0.9);
}


/*Tercera Seccion*/
.div3{
    background-color: #D9D9D9;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    height: 81vh;
    width: 60%;
    overflow-y: scroll;
}


/*Clases delos modales*/
.clasesmodal {
    margin-top: 20px;
    height: 20px;
    margin-left: 30px;
    width: 90%;
}

.clasesmodal li{
    margin-bottom: 20px;
}

.clasesmodal h3{
    color: #00324D;
    font-weight: bold;
    margin-bottom: 15px
}

.clasesmodal  [type="checkbox"]{
    border-color: #009C00;
    height: 35px;
    width: 35px;
    border-width: 3px;
    border-radius: 5px;
    margin-left: 10px;
}

.clasesmodal  [type="date"]{
    border-radius: 5px;
    border-color: white;
    color: #00324D;
    font-weight: bold;
}

.clasesmodal .typecheckbox label {
    margin-left: 5px;
    color: #00324D;
    font-weight: bold;
}

.clasesmodal  [type="checkbox"]:checked{
    border-color: #009C00;
    background-color: #009C00;
}

.clasesmodal [type="text"] {
    border-color: white;
    border-radius: 5px;
    width: 100%;
}

.clasesmodal textarea{
    border-radius: 5px;
    width: 100%;
    height: 100px;
    border-color: white;
}

.clasesmodal select{
    border-radius: 5px;
    border-color: white;
    color: #00324D;
    font-weight: bold;

}

.clasesmodal label{
    color: #00324D;
    font-weight: bold;
}

.buttondropdown {
    background-color: white;
    border-radius: 5px;
    width: 100%;
    height: 42px;
}


.dropdown-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out;
}

.dropdown-content.show {
    max-height: 500px;
}

.clasesmodal .sendbutton{
    margin-left: 75%;
}